{
  "plugins": ["prettier-plugin-latex"],
  "printWidth": 80,
  "overrides": [
    {
      "files": "*.tex",
      "options": {
        "parser": "latex-parser",
        "printWidth": 80,
        "embeddedLanguageFormatting": "off"
      }
    }
  ]
}